$whiteNavMobile: #d9d6d6;
$bacgroundNumberMobile: rgba(83, 82, 82, 0.61);
$bacgroundNumberDesktop: #5c5d5e;
$lemonMain: #f2e536;
$bluMain: #374a94;
$blackMain: #473d3d;
$whineMain: #eadddd;
$skillColor: linear-gradient(
		253.65deg,
		rgba(160, 160, 160, 0.2) 18.59%,
		rgba(0, 0, 0, 0) 78.81%
	),
	#5f6fa9;

$offerTitle: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%), #f2e536;
$offerBody: linear-gradient(
		253.65deg,
		rgba(255, 255, 255, 0.326) 18.59%,
		rgba(192, 191, 191, 0.34) 78.81%
	),
	#374a94;