@media (min-width: 992px) {
	.header {
		&__img {
			height: 100vh;
			background-image: url('../img/mainImgBig.jpg');
			background-attachment: fixed;
			.hamburger {
				display: none;
			}
			&__navDesktop {
				position: fixed;
				top: 0;
				display: block;
				width: 100%;
				font-family: 'regular2kd', sans-serif;
				z-index: 100;
				&__phone {
					display: flex;
					justify-content: space-evenly;
					padding: 0.3rem;
					text-transform: uppercase;
					font-size: 1.2rem;
					background-color: colors.$bacgroundNumberDesktop;
					color: colors.$whineMain;

					&__number {
						font-family: 'light2kd';
						cursor: default;
						transition: color 0.4s, transform 0.4s;
						&:hover {
							color: colors.$lemonMain;
							transform: scale(1.2);
						}
						img {
							margin-top: auto;
							margin-right: 1rem;
						}
					}
					&__title {
						font-weight: 700;
						cursor: default;
						span {
							color: colors.$lemonMain;
						}
					}
				}
				&__navigaction {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 1rem;
					transition: background-color 0.4s;
					&__logo {
						margin-left: 1.5rem;
						cursor: pointer;
						img {
							width: 220px;
							height: 70px;
						}
					}
					&__links {
						padding: 1.5rem;
						margin-right: 2.5rem;
						font-size: 0.9rem;
						text-transform: uppercase;
						&__link {
							padding: 0.5rem;
							text-decoration: none;
							color: colors.$blackMain;
							margin-left: 1.25rem;
							transition: background-color 0.4s, color 0.4s;
							&:hover {
								background-color: colors.$blackMain;
								color: colors.$whineMain;
							}
						}
					}
				}
			}
			&__navMobile {
				display: none;
			}
			&__phoneNumberMobile {
				display: none;
			}
			&__arrow {
				position: absolute;
				left: 50%;
				top: 85%;
				transform: translate(-50%, -50%);
				display: block;
				cursor: pointer;
				animation: bounce-in-top 1.8s both infinite;
				&__icon {
					transition: fill 0.2s;
					&:hover {
						fill: colors.$whineMain;
					}
				}
			}

			&__logo {
				top: 50%;
				img {
					width: 34.375rem;
					height: auto;
				}
			}
		}
	}
	.aboutUs {
		&__body {
			&__container {
				flex-direction: row;
				justify-content: center;
				align-items: center;
				&--revers {
					flex-direction: row-reverse;
				}
				&__photo {
					&__picture {
						&:hover {
							border-top: 15px solid colors.$bluMain;
							border-bottom: 15px solid colors.$lemonMain;
							border-left: 15px solid colors.$bluMain;
							border-right: 15px solid colors.$lemonMain;
						}
						transition: border 0.4s;
					}
				}
			}
		}
	}
	.offer {
		&__container {
			&__options {
				height: 30rem;
				&__title {
					&__text {
						font-size: 1.1rem;
					}
				}
				&__body {
					height: 29rem;
					ul {
						li {
							padding: 0.5rem;
							font-size: .9rem;
						}
					}
				}
			}
		}
	}
}
