@media (min-width: 768px) {
	.boardQuote {
		background-image: url(../img/quoteImgBig.jpg);
		&__body {
			&__opinionsOne {
				padding: 1.5rem;
				&__entry {
					padding: 1rem;
					&__text {
						font-size: 1.5rem;
					}
					&__author {
						font-size: 1.2rem;
					}
				}
				&__container {
					&__entryOne {
						padding: 1.5rem;
						&__text {
							font-size: 1.5rem;
						}
						&__author {
							font-size: 1.2rem;
						}
					}
				}
			}
			&__quote {
				padding: 1.5rem;
				&__text {
					font-size: 2rem;
				}
				&__author {
					font-size: 1.2rem;
				}
			}
		}
	}
	.thanks {
		&__body {
			&__content {
				&__thank {
					flex-direction: row;
					flex-wrap: wrap;
					&__pdf {
						margin: .5rem;
					}
				}
			}
		}
	}
}
