@media (min-width: 576px) {
	.header {
		&__img {
			&__logo {
				img {
					width: 30rem;
				}
			}
			&__navMobile {
				&__link {
					margin-bottom: 2rem;
					font-size: 2rem;
				}
			}
			&__phoneNumberMobile {
				position: absolute;
				bottom: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-family: 'k2d', sans-serif;
				width: 100%;
				height: 25%;
				&__number {
					font-size: 1.2rem;
					font-weight: 200;
					i {
						margin-right: 1rem;
					}
					&--title {
						margin-bottom: 1rem;
						font-weight: 700;
					}
				}
			}
		}
	}
}
