@media (min-width: 576px) {
	.header {
		&__img {
			&__logo {
				img {
					width: 30rem;
				}
			}
			&__navMobile {
				&__body {
					&__link {
						margin-bottom: 2rem;
						font-size: 2rem;
					}
				}
			}
			&__phoneNumberMobile {
				&__number {
					font-size: 1.4rem;
				}
			}
		}
	}
	.contact {
		&__body {
			&__mapMobile {
				margin-top: 2rem;
				iframe {
					width: 21.875rem;
					height: 21.875rem;
				}
			}
		}
	}
}

@media (max-height: 565px) {
	.header {
		&__img {
			&__logo {
				img {
					width: 15rem;
				}
			}
			&__navMobile {
				&__body {
					&__link {
						padding: 0.2rem;
						margin-bottom: 0.1rem;
						font-size: 0.9rem;
					}
				}
			}
			&__phoneNumberMobile {
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				&__number {
					font-size: .8rem;
					img {
						margin-right: .2rem;
					}
					span {
						font-size: .8rem;
						text-transform: uppercase;
						color: colors.$lemonMain;
					}
					&--title {
						margin-bottom: 0;
						font-weight: 700;
					}
				}
			}
		}
	}
	
}
