@media (min-width: 576px) {
	.header {
		&__img {
			&__logo {
				img {
					width: 30rem;
				}
			}
			&__navMobile {
				&__link {
					margin-bottom: 2rem;
					font-size: 2rem;
				}
			}
			&__phoneNumberMobile {
				&__number {
					font-size: 1.5rem;
				}
			}
		}
	}
}
