//Import animacji i colorów------------------------------------
@use './colors';
@use './animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Ubuntu', sans-serif;
}
.header {
	position: relative;
	&__img {
		width: 100vw;
		height: 100vh;
		background-image: url('../img/mainImgBig.jpg');
		background-position: center;
		background-size: cover;

		&__nav {
			position: fixed;
			top: 0;
			width: 100%;
			font-family: 'K2D', sans-serif;
			border-bottom: 1px solid #858687;
			background-color: colors.$lemon;
			z-index: 100;
			&__phone {
				display: flex;
				justify-content: space-evenly;
				padding: 0.3rem;
				text-transform: uppercase;
				font-size: 1.5rem;
				background-color: #858687;
				color: white;
				&__number {
					font-weight: 700;
					i {
						margin-right: 1rem;
					}
					&--title {
						font-weight: 200;
					}
				}
			}
			&__navigaction {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&__logo {
					padding: 1rem;
					img {
						width: 220px;
						height: 70px;
					}
				}
				&__links {
					padding: 1.5rem;
					margin-right: 40px;
					font-size: 18px;
					text-transform: uppercase;
					&__link {
						padding: 0.5rem;
						text-decoration: none;
						color: black;
						margin-left: 20px;
						transition: background-color 0.4s, color 0.4s;
						&:hover {
							background-color: black;
							color: white;
						}
					}
				}
			}
		}
		&__shadow {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.176);
			z-index: -1;
		}
		&__logo {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 5;
			img {
				width: 550px;
			}
		}
	}
}

